.board 
    padding 20px
    .resizable-table 
        position: relative
        table-layout:fixed;
        .cell-input
            position fixed
            flex:1
            border: 1px solid activeColor;
            z-index:10
            font-size: 15px
            resize: none;
            overflow: hidden
            &:focus
                outline-color activeColor

        .row-header, .col-header
            background: bgColor
        th, td 
            border: 1px solid rgba(0, 0, 0, 0.1);
            height: 40px;
            vertical-align: middle;
            text-align: center;
            position relative
            word-break: break-all;
            
        resizable-content(cursor)
            position: absolute;
            display: inline-block;
            z-index:10;
            &:hover
                background: #409EFF
                opacity 0.6
                cursor cursor
        .hori-resizable-content
            right: -6px;
            top: 0;
            width: 12px;
            height: 100%;
            resizable-content(col-resize)
             
        .vert-resizable-content
            position: absolute;
            bottom:-6px
            left:0
            width: 100%;
            height: 12px
            resizable-content(ns-resize)
        axis()
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            z-index: 10;

        .horiAxis
            axis()
            border-left: 2px dashed activeColor;
        .vertAxis
            width:100%
            border-top:2px dashed activeColor;
            axis()
        .cell
            height 100%
            box-sizing: border-box
            position relative
            border: 1px solid transparentColor;
            word-break: break-all;
            &:hover
                border-color: activeColor;
         