.board
    position relative
    flex 1
    overflow hidden
    display flex
    flex-direction column

    .formula-container
        display flex
        align-items center
        padding 10px 20px
        height 50px
        .formula-key
            margin-right 20px
        .formula-value
            width 100%
