.board {
  position: relative;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.board .formula-container {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  height: 50px;
}
.board .formula-container .formula-key {
  margin-right: 20px;
}
.board .formula-container .formula-value {
  width: 100%;
}
