.c-table {
  display: flex;
  flex-direction: column;
}
.c-table .canvas {
  position: absolute;
}
.formula-container {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  height: 50px;
}
.formula-container .formula-key {
  margin-right: 20px;
}
.formula-container .formula-value {
  width: 100%;
}
.table {
  position: relative;
  display: flex;
  overflow: scroll;
  flex: 1;
}
.table .main-table,
.table .row-header,
.table .col-header {
  border-top: 1px solid borderColor;
  background: bgColor;
}
.table .table-header,
.table .table-main,
.table .table-fixed {
  table-layout: fixed;
  border-collapse: separate;
}
.table .table-header {
  position: sticky;
  top: 0;
  z-index: 2;
}
.table .hori-resizable-content {
  right: -6px;
  top: 0;
  width: 12px;
  height: 100%;
}
.table .horiAxis {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  border-top: 2px dashed activeColor;
}
.table .vertAxis {
  height: 100%;
  border-left: 2px dashed activeColor;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
.table .cell {
  height: 100%;
  box-sizing: border-box;
  border-right: 1px solid borderColor;
  border-bottom: 1px solid borderColor;
}
.table td {
  vertical-align: middle;
  text-align: center;
  position: relative;
  word-break: break-all;
  box-sizing: border-box;
}
.table tr {
  position: relative;
}
.table tr:first-child td {
  border-top: 0;
}
.table th {
  border-right: 1px solid borderColor;
  border-bottom: 1px solid borderColor;
  height: 40px;
  vertical-align: middle;
  text-align: center;
  position: relative;
  word-break: break-all;
  box-sizing: border-box;
}
.table .table-container {
  display: flex;
}
