.c-table
  display: flex
  flex-direction: column
  .canvas
    position absolute
 .formula-container
    display flex
    align-items center
    padding 10px 20px
    height 50px
    .formula-key
        margin-right 20px
    .formula-value
        width 100%
  .table
    position relative
    display flex
    overflow: scroll
    flex:1
    .select-content
      border 1px solid activeColor
      position fixed
      pointer-events none
    .main-table
    .row-header, .col-header
      border-top 1px solid borderColor
      background: bgColor
    .table-header,.table-main,.table-fixed
      table-layout: fixed;
      border-collapse: separate;
    .table-header
      position sticky
      top:0
      z-index:2
    .hori-resizable-content
      right: -6px;
      top: 0;
      width: 12px;
      height: 100%;
      resizable-content(col-resize)
    axis()
      position absolute
      left: 0;
      top: 0;
      z-index: 10;
    // 水平线
    .horiAxis
      axis()
      width:100%
      border-top: 2px dashed activeColor;
    //垂直线
    .vertAxis
      height 100%
      border-left:2px dashed activeColor;
      axis()
    .cell
      height 100%
      box-sizing: border-box
      border-right  1px solid borderColor
      border-bottom 1px solid borderColor

    td
      vertical-align: middle;
      text-align: center;
      position relative
      word-break: break-all;
      box-sizing border-box
    tr
      position: relative;

    tr:first-child td
      border-top 0
    th
      border-right  1px solid borderColor;
      border-bottom 1px solid borderColor
      height: 40px;
      vertical-align: middle;
      text-align: center;
      position relative
      word-break: break-all;
      box-sizing border-box
    .table-container
      display: flex
