//主色
themeColor = #47A2ff
//悬停颜色
deepBlueColor = #3088e0
//透明色
transparentColor = rgba(0, 0, 0, 0)
//按钮颜色
activeColor = #4FA0F1
//通用灰色
bgColor = #f8f8f8
// 悬停灰色
hoverGrayColor = #e9e9e9

borderColor=#E0E0E0

$borderStyle = 1px solid rgba(0,0,0,0.04)
